*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    background-color:#181818;
    font-family: 'roboto', sans-serif;
}
h2{
    color: white;
    text-align: left;
}
.row{
    display: flex;
    box-sizing: border-box;
}
.row-banner{
    width:100%;
    object-fit: contain;
    margin-top: 30px;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row-banners{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row-banners::-webkit-scrollbar{
    display:none;
}

.row-banner_large{
    max-height: 250px;
}
.row-banner:hover{
    transform: scale(1.08);
}   

.banner{
    object-fit: contain;
    background-image: url(/public/img/banner.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    height: 448px;
}

.banner-content{
    padding-top:190px ;
    margin-left:30px ;
    height: 190px;
}
.banner-title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.4rem;
}
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 9;
    background: #000;
    padding: 0 2.5vw;
    display: flex;
    align-items: center;
}

.logo{
    height: 30%;
}

.nav-box{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: auto;
}

.nav-msg{
    color: #fff;
    text-transform: uppercase;
    margin-left: 10px;
}

.sign-up-btn{
    border: 1px solid #fff;
    border-radius: 2px;
    background: none;
    color: #fff;
    height: 35px;
    padding: 0 10px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.play-btn{
    border: 1px solid #fff;
    border-radius: 2px;
    background: #dd0e15;
    border-color: #dd0e15;color: #fff;
    height: 35px;
    padding: 0 10px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.myList-btn{
    border: 1px solid rgb(12, 12, 12);
    border-radius: 2px;
    background:white;
    border-color: #dd0e15;color: rgb(7, 7, 7);
    height: 35px;
    padding: 0 10px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;
    color:black;
    
}
.banner-description{
    width: 45rem;
    padding-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.4rem ;
    max-width: 36rem;
    height: 189px;

}
 .sign-in-btn {
    border: 1px solid #fff;
    border-radius: 2px;
    background: #dd0e15;
    border-color: #dd0e15;color: #fff;
    height: 35px;
    padding: 0 10px;
    margin-left: 10px;
    text-transform: uppercase;
    cursor: pointer;

}
#logo{
    padding-top: 11px;
}

.movies-box{
    width: fit-content;
    height: auto;
    background-color:red;
}


.carousel-box{
    background-color: green;
    width:fit-content;
    height: auto;
    display: flex;
}

.movie-card-img{
    height: 40px;
    display: flex;
    box-sizing: border-box;
    
}
